<br>
<div class="container" style="background-image: url('/notepad.png');">
    <br>
    <h1>About Us</h1>
    <br>
    <h4>Hello there! I am ideas app here to help in Organizing your ideas better!</h4>
</div>